// DESKTOP FONTS

@mixin h1 {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
@mixin h2 {
  color: var(--black);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.024rem;
}
@mixin h3 {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.032rem;
}
@mixin header-p20-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.02rem;
}
@mixin header-p20-gray {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02rem;
}
@mixin header-p20-gray-normal-height {
  color: #000000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02rem;
}
@mixin header-p20-black {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.02rem;
}
@mixin header-p14-gray {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.014rem;
}
@mixin header-p14-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.014rem;
}
@mixin header-btn16 {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin input-16 {
  color: var(--input-gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin btn-16 {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin galery-p {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin project-card-title {
  color: var(--btn-bg);
  font-family: "Open Sans";
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.036rem;
}
@mixin plans-form-title {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.024rem;
}
@mixin deals-p {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.016rem;
}
@mixin deals-p-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.016rem;
}
@mixin deals-p-small {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.014rem;
}
@mixin catalog-text {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.02rem;
}
@mixin footer-logo {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.024rem;
}
@mixin deals-p-black {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin deals-p-gray {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin footer-link {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.016rem;
}

// MOBILE FONTS

@mixin mobile-text-16-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}
@mixin mobile-text-16-gray {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin mobile-text-14-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.014rem;
}
@mixin mobile-text-14-black {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.014rem;
}
@mixin mobile-text-14-black-normal {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.014rem;
}
@mixin mobile-text-14-gray {
  color: rgba(255, 255, 255, 0.5);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.014rem;
}
@mixin h3-mobile {
  color: var(--btn-bg);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.024rem;
}
@mixin tabs-black {
  color: #302f37;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin tabs-white {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin tabs-gray {
  color: #c4c4c4;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
@mixin location-p-xsmall-black {
  color: var(--btn-bg);
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.012rem;
}
@mixin location-p-xsmall-gray {
  color: var(--gray);
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.012rem;
}
@mixin footer-p-xsmall {
  color: #939393;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01rem;
  text-decoration-line: underline;
}
@mixin form-p-14-black-normal-height {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.014rem;
}
@mixin modal-p-10-gray {
  color: #939393;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01rem;
}
