.segoe16-gray {
  font-family: "Segoe UI Regular", sans-serif;
  color: #d9d9d9;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
.segoe16-white {
  font-family: "Segoe UI Regular", sans-serif;
  color: #d9d9d9;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
.segoe16-black {
  font-family: "Segoe UI Regular", sans-serif;
  color: #302f37;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.016rem;
}
.segoe20 {
  font-family: "Segoe UI Regular", sans-serif;
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.024rem;
}
.segoe14-white-mobile {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.014rem;
}
.segoe12-white-mobile {
  color: var(--gray);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Segoe UI Regular", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.012rem;
}
.segoe-name-mobile {
  color: var(--white);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Segoe UI Regular", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.014rem;
}
