@media (max-width: 1120px) {
  .consult {
    &_wrapper {
      margin: 4rem 2rem 0rem 2rem;
    }
  }
}
@media (max-width: 940px) {
  .consult {
    &_wrapper {
      flex-direction: column;
      align-items: center;
    }
    &_descr {
      &-title {
        margin: 0rem 2rem 2.4rem 2rem;
      }
    }
  }
}
@media (max-width: $sm) {
  .consult {
    padding-bottom: 4rem;
  }
  .consult_descr {
    margin: 0rem 2rem;
  }
  .consult_descr-title {
    @include h3-mobile;
    max-width: 35.3rem;
    margin: 2.8rem auto 2.4rem auto;
  }
  .consult_descr-text {
    max-width: 35.3rem;
    @include mobile-text-14-black-normal;
    line-height: 2rem;
  }
}
