@media (max-width: 1120px) {
  .structure {
    &_title {
      text-align: center;
      margin-bottom: 4rem;
    }
    &_box,
    &_content {
      margin: 0rem 2rem;
    }
  }
}

@media (max-width: $sm) {
  .structure {
    padding: 4rem 0rem;
    &_title {
      @include h3-mobile;
    }
    &_box,
    &_content {
      display: none;
    }
  }
  .structure-swiper-mobile {
    display: block;
  }
  .structure_mobile-img {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .swiper-scrollbar-structure {
    max-width: 90%;
    width: 100%;
    left: 5% !important;
  }
}

@media (max-width: 380px) {
  .structure_mobile-img {
    width: 90%;
  }
}
