@import "../scss/mixins/mixins";
@import "../scss/innercomp/catalog-btn";
@import "../scss/animations/btn-hov";

.consult {
  padding: 0rem 0rem 5.2rem 0rem;
  &_img {
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 auto;
  }
  &_descr {
    text-align: center;
    &-title {
      @include h3;
      margin: 2.8rem 0rem 1.6rem 0rem;
    }
    &-text {
      max-width: 53rem;
      width: 100%;
      @include catalog-text;
      margin: 0 auto;
    }
  }
  &_wrapper {
    display: flex;
    gap: 1.6rem;
    margin-top: 4rem;
  }
}
